<h1 class="text-primary">¡Felicidades!</h1>
<p>Tu cuenta ha sido creada con exito. Puedes iniciar sesión <a asp-controller="Account" asp-action="Login">Aquí</a>. Para poder usar todas las funcionalidades del sitio, confirma tu cuenta en el correo electrónico que te enviamos.</p>
